.copyright {
    color     : #8c8c8c;
    margin-top: 7px;

    .anticon-heart {
        color : #f5222d;
        margin: 0px 5px;
    }

    a {
        margin     : 0px 5px;
        color      : #141414;
        font-weight: 700;
    }
}

.footer-menu {
    ul {
        margin         : 0px;
        padding        : 0px;
        display        : flex;
        align-items    : center;
        justify-content: flex-end;

        li {
            list-style: none;

            a {
                padding: 0.5rem 1rem;
                display: block;
                color  : #8c8c8c;
            }
        }
    }

}